* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    margin-bottom: 1em;
    text-align: center;
    text-shadow: 2px 2px 10px;
    background-color: gray;
}

.header {
    border: 1px solid;

    height: 15vh;
    padding-top: 3em;
    color: red;
    border-color: black;
}

.header-link {
    border: 1px solid;

    color: red;
    border-color: black;
    height: 5vh;
    padding-top: 5px;

}

.main {
    border: 1px solid;

    display: flex;
    justify-content: space-between;
    border: none;
    color: red;
    border-color: black;
    background-color: white;
}

.left {
    width: 30%;
    height: 50vh;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    border-color: black;
    border: 1px solid black;

}

.content {
    width: 38%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    border-color: black;
    border: 1px solid black;

}

.right {
    width: 30%;
    height: 50vh;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    border-color: black;
    border: 1px solid black;

}

.footer {
    color: red;
    border-color: black;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;

}

