* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
    width: 90%;
    height: 50vh;
    margin: auto;

    ul {
        display: flex;
        align-items: center;
        margin: 20px auto;

        li {
            list-style: none;
            background-color: #00F;
            margin-top: 10px;
            height: 30px;
            margin-inline: 5px;
            align-content: center;
            padding-inline: 1em;

            a {
                color: white;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }

    .showmore {
        position: relative;
    }

    .submenu {
        display: none;
        position: absolute;
        top: 149px;
        left: 364px;
        height: 50px;

        li {
            background-color: #90F;
            margin-top: -3px;

            a {
                color: white;
            }
        }

    }
}

.submenu.second {
    top: 43px;

    li {
        width: 200px;
        padding-inline: 0;
    }

    li:hover {
        background-color: #0CF;
    }
}

.submenu.thirth {
    top: -18px;
    left: 190px;
    width: 100%;

}

.submenu.thirth.two {
    left: 180px;

}

li:hover>.submenu {
    display: block;
}