* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.header {
    height: 15vh;
    color: red;
    border-color: black;
    text-align: center;
}

.main {
    display: flex;
    justify-content: space-between;
    border: none;
    color: red;
    border-color: black;
    background-color: white;
}

.left {
    width: 30%;
    height: 50vh;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    border-color: black;
}

.content {
    width: 38%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    color: red;
}

.right {
    width: 30%;
    height: 50vh;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    border-color: black;
}

.footer {
    border: 1px solid black;
    color: red;
    height: 10vh;
    text-align: end;
}