* {
    margin: 0;
}

.header {
    background-color: #31363F;
    text-align: center;
    height: 14vh;
    line-height: 3.6;
    color: white;
}

.menu {
    display: flex;
}

.menu-left {
    background-color: gray;
    line-height: 1.6;
    width: 35%;
    padding: 20px;
}

.menu-right {
    background-color: white;
    padding: 20px 10px;
}
.menu-left,.menu-right{
    height: 10em;
}
.footer {
    background-color: #31363F;
    text-align: center;
    height: 3em;
    color: white;
    clear: both;
}