.header {

    h1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }

    img {
        width: 10em;
        height: 5em;
        margin-left: 53em;
    }
}

.Header {
    grid-area: header;

    ul {
        margin-top: 0.5em;
    }

    li {
        display: inline;
        padding-inline: 3em;
    }

    li>a {
        text-decoration: none;

    }
}

.Menu {
    grid-area: menu;
}

.Left1 {
    grid-area: left1;
}

.Center1 {
    grid-area: center1;
}

.Right1 {
    grid-area: right1;
}

.Left2 {
    grid-area: left2;
}

.Center2 {
    grid-area: center2;
}

.Right2 {
    grid-area: right2;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header '
        'menu left1 center1 right1 '
        'menu left2 center2 right2  '
    ;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    grid-template-rows: 6em;
    grid-template-columns: 20em;
}

.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
    font-size: 30px;
}

.clock {
    border: 2px solid black;
    width: 4em;
    color: black;
    background-color: white;
    margin: auto;
}

.find {
    color: yellowgreen;
    text-transform: uppercase;
    font-size: x-large;
    text-align: center;
}

.first {
    input {
        width: 97%;
        padding: 5px 2px;
    }
}

.second {
    #form {
        width: 100%;
        padding: 5px 2px;

    }
}

.third {
    #to {
        width: 100%;
        padding: 5px 2px;

    }
}

#search {
    float: right;
    margin-top: 1em;
}

.menu {
    color: yellowgreen;
    text-transform: uppercase;
    font-size: x-large;
    margin-top: 2em;
    text-align: center;
}

.menu-list {

    li {
        font-size: x-large;
        border: 2px solid white;
        list-style-position: inside;
        background-color: green;
        border-collapse: collapse;
    }
    ul {
        border-left:1em solid yellow ;
    }
}
#customer{
    font-size: xx-large;
    color: yellowgreen;
    text-align: center;
}