#payment-header {
    color: gray;
    font-size: larger;
    margin: 1em 0em 0em;
}

.content {
    line-height: 1.6em;
    box-sizing: border-box;
    width: fit-content;
    margin: auto;

    border: 2px solid black;
    padding: 10px;
    background-image: url(hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: inherit;

    p {
        font-size: x-large;
        text-align: center;
        color: #E78895;
    }
}

.header {
    display: flex;

    input[type='radio'] {
        accent-color: red;
    }

    .home {
        width: 23.7em;
    }

    .truck {
        width: 23.8em;
        margin-right: 1.16em;
    }

    .truck,
    .home {
        text-align: center;
        border: 1px solid #C7C8CC;

        padding: 10px 12px;
        background-color: #C7C8CC;
        font-weight: bold;
        border-radius: 10px;
    }

    .truck:hover,
    .home:hover {
        accent-color: red;
        border: 1px solid red;
        font-weight: bold;
        color: red;
        transition-duration: 0.4s;
    }
}

.item-1,
.item-2,
.item-3,
.item-4 {
    form {
        display: flex;
    }

    legend {
        color: gray;
    }

    fieldset {
        width: 23.6em;
    }

    select {
        outline: none;
        border: none;
        font-size: medium;
        background-color: transparent;
    }

    input {
        border: none;
        outline: none;
        width: 95%;
        height: 3vh;
    }

    .must {
        color: red;
        font-size: small;
    }

    .first {
        width: 23.5em;
        margin-right: 1em;

    }

}

.item-4 {
    fieldset {
        width: 50.05em;
    }
}

.check {
    #checkbox {
        width: 2em;
        height: 1.4em;
        accent-color: red;
    }

    h {
        font-size: large;
        margin-inline: 5px;
        position: absolute;
    }
}

.comment {
    fieldset {
        border-radius: 10px;
        width: 50em;
    }

    legend {
        color: gray;
    }

    textarea {
        border: none;
        outline: none;
        width: 95%;
        height: 10vh;
        font-family: 'Times New Roman', Times, serif;
    }
}

.payment {
    display: flex;

    .devery,
    .atm,
    .credit-card {
        border: 1px solid black;
        border-radius: 10px;
        padding: 5px;
        margin: 1em 2em 0.5em;
        accent-color: red;

        label {
            color: gray;
        }
    }

    i {
        color: red;
    }

    .devery:hover,
    .atm:hover,
    .credit-card:hover {
        border: 1px solid red;
        border-radius: 10px;

        i {
            color: red;
        }
    }

    .devery:checked,
    .atm:checked,
    .credit-card:checked {
        border: 1px solid red;
        border-radius: 4px;

        i {
            color: red;
        }
    }
}

.accept-1,
.accept-2,
.accept-3 {
    border: 2px solid gray;
    border-radius: 10px;
    margin: 0.5em;
    width: 42.1em;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    margin-left: 0px;

    input[type='checkbox'] {
        accent-color: red;
        width: 2em;
        height: 1.4em;
        border: 2px solid red;
        border-radius: 10px;

    }

}

.accept-1:hover,
.accept-2:hover,
.accept-3:hover {
    border: 2px solid red;
    border-radius: 10px;
    transition-duration: 0.4s;
}

.end {
    display: flex;
    background-color: #D04848;
    width: 52em;
    justify-content: center;

    button {
        background-color: #D04848;
        border: none;
        color: white;
        font-family: 'Times New Roman', Times, serif;
    }
}