.content {
    font-family: 'Times New Roman', Times, serif;
    border: 2px groove black;
    width: fit-content;
    padding-inline: 12px;
    margin-inline: auto;
}

h1 {
    text-transform: uppercase;
    color: red;
}
.list{
    color: blue;
    padding-left: 10em;
    list-style: inside;
}
p{
    color: red;
}
#end{
    color: purple;
}