* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 50%;
}

button {
    text-transform: uppercase;
    padding: 0.5em;
    cursor: pointer;
}

.content {
    margin-top: 1em;
    align-items: center;
}

.above,
.below {
    display: flex;
    align-items: center;
    align-content: center;
}

.product {
    align-self: center;
    text-align: center;
}

.product .text .cost {
    color: #FFC700;
    font-size: large;

    b {
        text-decoration: underline;
    }
}

.below {
    margin-top: 1em;

    #img1 {
        margin-inline: 102px;

        img {
            width: 100%;
        }
    }

    #img2 {
        margin-inline: 86px;

        img {

            width: 85%;
        }
    }
}