table,th,tr,td{
    border: 2px solid black;
    border-collapse:collapse ;
    margin: auto;
}
th{
    background-color: #99BC85;
}
td{
    text-align: center;
    padding-inline: 10px;
}
table{
    background-color: antiquewhite;
}
h1{
    text-align: center;
    font-weight: bold;
}
.content{
    margin: auto;
    border: 3px solid black;
    width: fit-content;
    padding: 1em 2em;
}